#============= audioserver ==============
allow audioserver qmuxd_socket:dir search;
allow audioserver self:socket create;
allow audioserver qmuxd_socket:dir write;
allow audioserver self:socket ioctl;
allow audioserver qmuxd_socket:dir add_name;
allow audioserver qmuxd_socket:sock_file create;
allow audioserver qmuxd_socket:sock_file { setattr write };
allow audioserver self:socket read;
allow audioserver qmuxd_socket:dir remove_name;
allow audioserver qmuxd:unix_stream_socket connectto;
allow audioserver rild:unix_stream_socket connectto;

#============= fingerprintd ==============
allow fingerprintd devpts:chr_file { read write };
allow fingerprintd self:capability dac_override;
allow fingerprintd untrusted_app_devpts:chr_file { read write };

#============= init ==============
allow init sysfs_ss_writable:lnk_file read;

#============= mediadrmserver ==============
allow mediadrmserver firmware_file:dir search;

#============= mdm_helper ==============
allow mdm_helper diag_device:chr_file read;
allow mdm_helper diag_device:chr_file open;

#============= platform_app ==============
allow platform_app self:process ptrace;

#============= priv_app ==============
allow priv_app device:dir read;
allow priv_app device:dir open;

#============= radio ==============
allow radio self:process ptrace;
allow radio system_app_data_file:dir getattr;

#============= rild ==============
allow rild default_prop:property_service set;
allow rild adsprpcd:file { getattr open read };
allow rild debuggerd:file { getattr open read };
allow rild healthd:file { getattr open read };
allow rild init:file { getattr open read };
allow rild kernel:file { getattr open read };
allow rild lmkd:file { getattr open read };
allow rild logd:file { getattr open read };
allow rild mdm_helper:file { getattr open read };
allow rild rfs_access:file { getattr open read };
allow rild sensorhubservice:file { getattr open read };
allow rild servicemanager:file { open read };
allow rild surfaceflinger:file { getattr open read };
allow rild system_data_file:dir { add_name remove_name setattr write };
allow rild system_data_file:sock_file { create setattr unlink };
allow rild tee:file { getattr open read };
allow rild ueventd:file { getattr open read };
allow rild vold:file { getattr open read };
allow rild persist_file:dir search; 
allow rild radio:file read; 
allow rild system_data_file:dir write;

#============= shell ==============
allow shell rild_exec:file { execute execute_no_trans getattr open read };

#============= sensorhubservice ==============
allow sensorhubservice device:chr_file { read write };
allow sensorhubservice sysfs:file { read write };
allow sensorhubservice device:chr_file open;
allow sensorhubservice sysfs:file open;

#============= shell ==============
allow shell dalvikcache_data_file:dir write;
allow shell self:capability dac_override;
allow shell dalvikcache_data_file:dir add_name;

#============= system_server ==============
allow system_server unlabeled:file unlink;
allow system_server sensors_efs_file:file read;
allow system_server sensors_efs_file:file open;

#============= thermal-engine ==============
allow thermal-engine self:netlink_kobject_uevent_socket create;
allow thermal-engine self:netlink_kobject_uevent_socket { bind setopt };
allow thermal-engine self:capability net_admin;
allow thermal-engine self:netlink_kobject_uevent_socket read;

#============= time_daemon ==============
allow time_daemon devpts:chr_file { read write };
allow time_daemon untrusted_app_devpts:chr_file { read write };

#============= untrusted_app ==============
allow untrusted_app rootfs:dir read;
allow untrusted_app firmware_file:dir read;
allow untrusted_app rootfs:dir open;
allow untrusted_app firmware_file:dir open;
allow untrusted_app cgroup:dir read;
allow untrusted_app cgroup:dir open;
allow untrusted_app cm_status_bar_service:service_manager find;
allow untrusted_app sysfs:file read;

#============= vcs ==============
allow vcs ion_device:chr_file read; 
allow vcs ion_device:chr_file open;
allow vcs ion_device:chr_file ioctl;

#============= rild ==============
allow rild adsprpcd:file { getattr open read };
allow rild debuggerd:file { getattr open read };
allow rild healthd:file { getattr open read };
allow rild init:file { getattr open read };
allow rild kernel:file { getattr open read };
allow rild lmkd:file { getattr open read };
allow rild logd:file { getattr open read };
allow rild mdm_helper:file { getattr open read };
allow rild rfs_access:file { getattr open read };
allow rild sensorhubservice:file { getattr open read };
allow rild servicemanager:file { open read };
allow rild surfaceflinger:file { getattr open read };
allow rild system_data_file:dir { add_name remove_name setattr write };
allow rild system_data_file:sock_file { create setattr unlink };
allow rild tee:file { getattr open read };
allow rild ueventd:file { getattr open read };
allow rild vold:file { getattr open read };

#============= vold ==============
allow vold self:capability sys_resource;
