type touch_key_sysfs, fs_type, sysfs_type;
type gsiffd_data_file, data_file_type, file_type;
type quipc_data_file, data_file_type, file_type;
type sensors_efs_file, file_type;
type sensorhub_dev, dev_type;
type vcs_data_file, file_type, data_file_type;
type wifi_efs_file, file_type;
type sysfs_ss_writable, fs_type, sysfs_type;
type sysfs_rmnet, fs_type, sysfs_type;

