allow mediaserver system_data_file:sock_file write;
allow mediaserver socket_device:sock_file write;
allow mediaserver system_file:file execmod;
allow mediaserver system_prop:property_service set;

# Snap permissions
allow mediaserver sensorservice_service:service_manager { find };
allow mediaserver system_server:unix_stream_socket { read write };
