allow rild proc_net:file rw_file_perms;
allow rild self:capability dac_override;
allow rild sysfs:file rw_file_perms;
allow rild tun_device:chr_file rw_file_perms;
allow rild self:tun_socket create_socket_perms;
allow rild radio_data_file:dir r_dir_perms;
allow rild radio_data_file:file rw_file_perms;
allow rild radio_data_file:lnk_file r_file_perms;
allow rild system_app_data_file:dir rw_dir_perms;
allow rild system_app_data_file:file create_file_perms;
# allow rild rild_data_file:file rw_file_perms;

binder_call(rild, audioserver)
binder_call(rild, mediaserver)
binder_use(rild)
binder_service(rild)

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

allow rild persist_file:dir search;

# rild needs to parse through /proc to obtain pid of netmgrd
r_dir_file(rild, netmgrd)
# b/18352920 suppress denials until the procfs lookup is removed
dontaudit rild domain:dir r_dir_perms;

allow rild audioserver_service:service_manager find;
allow rild mediaserver_service:service_manager find;

#======== Radio ==========

# Talk to qmuxd (/dev/socket/qmux_radio)
qmux_socket(radio)

# Grant access to qmux socket that is created by rild
allow radio qmuxd_socket:sock_file rw_file_perms;

# Grant access to ims socket that is created by ims_qmid, ims_datad
allow radio ims_socket:sock_file write;

allow radio persist_file:dir search;

# Connect to ims service.
allow radio ims:unix_stream_socket connectto;

