allow time_daemon platform_app:dir search;
allow time_daemon platform_app:file { read open };
allow time_daemon system_server:dir search;
allow time_daemon system_server:file { read open };
allow time_daemon system_app:dir search;
allow time_daemon system_app:file { read open };
allow time_daemon system_data_file:file append;
allow time_daemon qmuxd_socket:dir search;
allow time_daemon qmuxd_socket:dir write;
qmux_socket(time_daemon)
allow time_daemon devpts:chr_file { read write };
allow time_daemon untrusted_app_devpts:chr_file { read write };
allow time_daemon alarm_device:chr_file rw_file_perms;
